# Intepreters and Virtual Environments
.venv/
venv/
__pycache__/
*.py[cod]

# Distribution / Packaging
build/
dist/
*.egg-info/

# System
.DS_Store
my_test_project.json
test_llama.py
test_apb_spec.md
buscraft_out/
*_spec.json
