`ifndef CHI_AGENT_SV
`define CHI_AGENT_SV

`include "uvm_macros.svh"
import uvm_pkg::*;
import chi_pkg::*;

class chi_sequencer extends uvm_sequencer #(chi_txn_t);
  `uvm_component_utils(chi_sequencer)
  function new(string name = "chi_sequencer", uvm_component parent = null);
    super.new(name, parent);
  endfunction
endclass : chi_sequencer


class chi_driver extends uvm_driver #(chi_txn_t);
  `uvm_component_utils(chi_driver)
  function new(string name = "chi_driver", uvm_component parent = null);
    super.new(name, parent);
  endfunction

  virtual task run_phase(uvm_phase phase);
    super.run_phase(phase);
    // TODO: implement driving
  endtask
endclass : chi_driver


class chi_monitor extends uvm_component;
  `uvm_component_utils(chi_monitor)
  uvm_analysis_port #(chi_txn_t) ap;

  function new(string name = "chi_monitor", uvm_component parent = null);
    super.new(name, parent);
    ap = new("ap", this);
  endfunction

  virtual task run_phase(uvm_phase phase);
    super.run_phase(phase);
    // TODO: implement sampling
  endtask
endclass : chi_monitor


class chi_agent extends uvm_agent;

  `uvm_component_utils(chi_agent)

  chi_sequencer m_sequencer;
  chi_driver    m_driver;
  chi_monitor   m_monitor;

  function new(string name = "chi_agent", uvm_component parent = null);
    super.new(name, parent);
  endfunction : new

  function void build_phase(uvm_phase phase);
    super.build_phase(phase);
    if (get_is_active() == UVM_ACTIVE) begin
      m_sequencer = chi_sequencer::type_id::create("m_sequencer", this);
      m_driver    = chi_driver   ::type_id::create("m_driver",    this);
    end
    m_monitor = chi_monitor::type_id::create("m_monitor", this);
  endfunction : build_phase

  function void connect_phase(uvm_phase phase);
    super.connect_phase(phase);
    if (get_is_active() == UVM_ACTIVE) begin
      m_driver.seq_item_port.connect(m_sequencer.seq_item_export);
    end
  endfunction : connect_phase

endclass : chi_agent

`endif // CHI_AGENT_SV
