`ifndef CHI_PKG_SV
`define CHI_PKG_SV

package chi_pkg;

  import uvm_pkg::*;

  typedef struct packed {
    logic [47:0] addr;
    logic [63:0] data;
    logic        write;
  } chi_txn_t;

endpackage : chi_pkg

`endif // CHI_PKG_SV
